{% extends 'base.html' %}
{% load static %}


{% block title %}Login{%endblock%}

{% block content %}

<main class="container mt-header">

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn border-8 py-3 px-5 mt-5 mb-3 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">Войти</button>
  </form>


</main>

<!--  {% for field in form %}-->
<!--  <label class="me-2  mt-4 mb-1 cake_blue" style="font-size: 26px">{{ field.label }}</label>-->
<!--  <div class="col-12 col-md-12 col-lg-12 pt-2">-->
<!--    {{ field }}-->
<!--  </div>-->
<!--  {%  endfor %}-->

{% endblock content %}

<script>
	var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
	var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
		return new bootstrap.Popover(popoverTriggerEl)
	})
</script>